<div class="bg-primary full-screen">
  <header class="header">
    <div class="container text-center clearfix">
      <%= image_tag "logo-free_seo_report.png", alt: "logo Free SEO Report", class: "margin-top_double margin-bottom" %>
      <h1 class="text-white text-black text-big">
        We’re making it easier to get more<br> leads & clients with Free Seo Report!
      </h1>
    </div>
  </header>
  
  <section class="container clearfix padding-bottom">
    <div class="text-center col-md-6 col-md-offset-3">
      <p>We’re Launching a cloud based sales & marketing automation tool for SEO and Webdesign Firms! Give your clients instant Free SEO Reports branded with your logo in exchange for their contact info.</p>
    </div>
    <div class="row">
      <div class="padding-top col-md-4 col-md-offset-4">
        <p class="text-center margin-bottom_none padding_half text-c-secondary_lighter" style="border:1px dashed #ddb860;">Get Notified and you’ll also be entered to win SeoServices.co an $11,000 domain FREE!</p>
        <div class="input-group padding_none">
          <form role="form" class="margin-top">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" style="width:270px;">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">Notify me</button>
            </span>
          </form>
          <p class="text-small margin-top_sm">* We promise never to spam you.</p>
        </div>
      </div>
    </div>
    
  </section>
  <div style="position:fixed; top:5px; right:5px; width:160px;">
    <select class="cs-select cs-skin-elastic">
			<option value="english" data-class="flag-usa" selected>English</option>
			<option value="france" data-class="flag-france">France</option>
			<option value="german" data-class="flag-germany">German</option>
			<option value="italian" data-class="flag-italy">Italian</option>
			<option value="portuguese" data-class="flag-brazil">Portuguese</option>
			<option value="spanish" data-class="flag-spain">Spanish</option>
		</select>
  </div>
  <script>
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
				new SelectFx(el);
			} );
		})();
	</script>
	<style>
	  body { background-color: #455660; }
	</style>
</div>