<header class="header bg-primary full-screen">
  <div class="container text-center clearfix">
    <%= image_tag "logo-free_seo_report.png", alt: "logo Free SEO Report", class: "margin-top_double margin-bottom" %>
    <h1 class="text-white text-black text-upper text-biggest margin-bottom_double">Something great is coming</h1>
    <!-- <span class="pull-right"><%= link_to "Login", new_session_path %></span> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form" class="margin-top">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="We will not spam you :)">
          </div>
          <button type="button" class="btn btn-primary btn-block">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</header>