<header class="header bg-primary">
  <div class="container text-center clearfix">
    <%= image_tag "logo-free_seo_report.png", alt: "logo Free SEO Report", class: "margin-top_double margin-bottom" %>
    <!-- <span class="pull-right"><%= link_to "Login", new_session_path %></span> -->
  </div>  
</header>

<section class="bg-primary padding-bottom_double">
  <div class="container">
    <div class="col-md-6">
      <div class="info-circle-wrapper info-circle-responsive">
        <div class="info-c-full-br" style="border: 2px dashed rgb(191, 191, 191); width: 80%; height: 445.390625px; opacity: 1;" data-divert="" data-info-circle-angle="full" data-responsive-circle="on" data-launch="easeOutBounce" data-launch-duration="2" data-launch-delay="0.2" data-slide-true="on" data-slide-duration="6" data-icon-size="32" data-icon-show="show" data-icon-show-size="32" data-highlight-style="info-circle-pop" data-focus-on="hover" data-slide-number="5">
        
          <div class="icon-circle-list">
            <div class="info-circle-icons" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); font-size: 32px; height: 64px; width: 64px; margin: -32px; line-height: 64px; opacity: 1; left: -211.7958278791768px; top: 68.81663681441258px; background-position: initial initial; background-repeat: initial initial;">
              <i class="Defaults-rocket"></i>
            </div>
            <div class="info-details">
              <div class="info-circle-def">
                <div class="info-circle-sub-def">
                  <i class="Defaults-rocket"></i>
                    <h3 class="info-circle-heading">Done Awesomely</h3>
                    <div class="info-circle-text">
                      Pumero divino toto prima ensis. Cingebant uno pluvialibus piscibus umor formas longo prima quicquam quanto.
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="info-circle-icons" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); font-size: 32px; height: 64px; width: 64px; margin: -32px; line-height: 64px; opacity: 1; left: -130.89702128294198px; top: -180.16429176927846px; background-position: initial initial; background-repeat: initial initial;">
                <i class="Defaults-html5"></i>
              </div>
              <div class="info-details">
                <div class="info-circle-def">
                  <div class="info-circle-sub-def">
                    <i class="Defaults-html5"></i>
                    <h3 class="info-circle-heading">100% Mobile Ready</h3>
                    <div class="info-circle-text">
                      Pumero divino toto prima ensis. Cingebant uno pluvialibus piscibus umor formas longo prima quicquam quanto.
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="info-circle-icons" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); font-size: 32px; height: 64px; width: 64px; margin: -32px; line-height: 64px; opacity: 1; left: 130.89701934268416px; top: -180.16429317895827px; background-position: initial initial; background-repeat: initial initial;">
                <i class="Defaults-trophy"></i>
              </div>
              <div class="info-details">
                <div class="info-circle-def">
                  <div class="info-circle-sub-def">
                    <i class="Defaults-trophy"></i>
                    <h3 class="info-circle-heading">Award Winning</h3>
                    <div class="info-circle-text">
                      Nitidis locum auroram dissaepserat ulla dextra rapidisque spisso caesa. Locum auroram dissaepserat ulla.
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="info-circle-icons" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); font-size: 32px; height: 64px; width: 64px; margin: -32px; line-height: 64px; opacity: 1; left: 211.79582862028934px; top: 68.81663453350272px; background-position: initial initial; background-repeat: initial initial;">
                <i class="Defaults-flag"></i>
              </div>
              <div class="info-details">
                <div class="info-circle-def">
                  <div class="info-circle-sub-def">
                    <i class="Defaults-flag"></i>
                    <h3 class="info-circle-heading">Ultimate Solution</h3>
                    <div class="info-circle-text">
                      Nam coegit alto unda austro liberioris effigiem? Nubes quisquis iners. Quicquam fratrum declivia gravitate.
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="info-circle-icons info-circle-pop info-cirlce-active" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); font-size: 32px; height: 64px; width: 64px; margin: -32px; line-height: 64px; opacity: 1; left: 0.0000019985754487187122px; top: 222.6953125px; background-position: initial initial; background-repeat: initial initial;">
                <i class="Defaults-ok-sign"></i>
              </div>
              <div class="info-details">
                <div class="info-circle-def">
                  <div class="info-circle-sub-def">
                    <i class="Defaults-ok-sign"></i>
                    <h3 class="info-circle-heading">Brand New Features</h3>
                    <div class="info-circle-text">
                      Aberant subdita homo vis aethere. Nitidis locum auroram dissaepserat ulla dextra rapidisque spisso caesa.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="info-c-full" style="background-color:;color:;width:70%;height:70%;margin:15%;">
              <div class="info-c-full-wrap" style="opacity: 1;">
                <div class="info-circle-def">
                  <div class="info-circle-sub-def">
                    <i class="Defaults-ok-sign" style="font-size: 32px;"></i>
                    <h3 class="info-circle-heading">Brand New Features</h3>
                    <div class="info-circle-text">
                      Aberant subdita homo vis aethere. Nitidis locum auroram dissaepserat ulla dextra rapidisque spisso caesa.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .info-c-full .info-c-full-wrap{
	display: table;
	width: 100%;
	height: 100%;
}
.info-circle-icons{
	cursor: pointer;
}
.info-circle-icons{
	text-align: center;
}
.info-circle-wrapper{
	float: left;
	width: 100%;
}
.info-circle-wrapper .smile_icon_list.left li .icon_description{
	margin-left: 1.2em;
	border-radius: 5px;
	padding: 10px 10px 10px 15px;
}
.info-c-full-br img , 
.info-c-semi-br img{
	box-shadow: none;
	max-width: 100%;
	width: 1em;
}
.info-c-full-br, 
.info-c-semi-br {
	max-width: 80%;
	position: relative;	
	border-radius: 50%;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, 0);
}
.info-c-full-br .info-c-full{	
	text-align: center;
	width: 60%;
	height: 60%;
	margin:20%;
	border-radius: 50%;
	/*opacity: 0;*/
	padding: 20px;
	/*overflow: hidden;*/
}
/**********/
.info-circle-def {
	display: table;
	width: 100%;
	height: 100%;
}
.info-circle-sub-def {
	display: table-cell;
	vertical-align: middle;
}	
@media(max-width:768px){
	.info-circle-responsive .info-circle-def {
		display: block;
		width: auto;
		height: auto;
	}
	.info-circle-responsive .info-circle-sub-def {
		display: block;
		vertical-align: top;
	}
}
.info-c-full i{
	line-height: 1.5em;
	width: 1.5em;
	height: 1.5em;
}
.info-c-full h3{
	margin: 0;
	text-align: center;
	color: inherit;
}
.info-c-full {
	padding: 20px;
}
.info-circle-text {
	text-align: center;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
	width: 90%;
	margin: 0 auto;
}
.info-c-full-br .icon-circle-list .info-details{
	display: none;
}
.info-c-full-br .icon-circle-list .info-circle-icons{
	height: 2em;
	width: 2em;
	list-style: none;
	position: absolute;	
	opacity: 0;
	border-radius: 50%;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.info-c-full-br .icon-circle-list{
	position: absolute;
	top:50% 	;
	left:50%;
}
.info-c-semi-br.br-dash-out{
	border-style: dashed;
	border-width: 2px;
	position: relative;	
}
.info-c-semi{
	border :2px solid green;	
	margin: 50px;
	text-align: center;
	line-height: 200px;
}
.info-c-semi-br .icon-circle-list .info-circle-icons img {
	width: 64px;
	max-width: 100%;
}
.info-c-semi-br .icon-circle-list .info-circle-icons span{
	display: none;
}
.info-c-semi-br .icon-circle-list .info-circle-icons{
	list-style: none;
	position: absolute;
	margin: -32px;
}
.info-c-semi-br .icon-circle-list{
	position: absolute;
	top:200px 	;
	left:200px;
}
.info-circle-responsive .smile_icon_list_wrap{
	display: none;
}
@media(max-width:800px){
	.info-circle-responsive .smile_icon_list_wrap{
		display: block;
	}	
	.info-circle-responsive .info-c-full-br{
		display: none;
	}
}
/* Buzz Out */
	.info-circle-buzz-out {
		-webkit-animation-name: circle_buzz_out;
		animation-name: circle_buzz_out;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	@-webkit-keyframes circle_buzz_out {
	  10% {
	    -webkit-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
	  }
	  20% {
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
	  }
	  30% {
	    -webkit-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
	  }
	  40% {
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
	  }
	  50% {
	    -webkit-transform: translateX(2px) rotate(1deg);
	    transform: translateX(2px) rotate(1deg);
	  }
	  60% {
	    -webkit-transform: translateX(-2px) rotate(-1deg);
	    transform: translateX(-2px) rotate(-1deg);
	  }
	  70% {
	    -webkit-transform: translateX(2px) rotate(1deg);
	    transform: translateX(2px) rotate(1deg);
	  }
	  80% {
	    -webkit-transform: translateX(-2px) rotate(-1deg);
	    transform: translateX(-2px) rotate(-1deg);
	  }
	  90% {
	    -webkit-transform: translateX(1px) rotate(0);
	    transform: translateX(1px) rotate(0);
	  }
	  100% {
	    -webkit-transform: translateX(-1px) rotate(0);
	    transform: translateX(-1px) rotate(0);
	  }
	}
	@keyframes circle_buzz_out {
	  10% {
	    -webkit-transform: translateX(3px) rotate(2deg);
	    -ms-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
	  }
	  20% {
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    -ms-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
	  }
	  30% {
	    -webkit-transform: translateX(3px) rotate(2deg);
	    -ms-transform: translateX(3px) rotate(2deg);
	    transform: translateX(3px) rotate(2deg);
	  }
	  40% {
	    -webkit-transform: translateX(-3px) rotate(-2deg);
	    -ms-transform: translateX(-3px) rotate(-2deg);
	    transform: translateX(-3px) rotate(-2deg);
	  }
	  50% {
	    -webkit-transform: translateX(2px) rotate(1deg);
	    -ms-transform: translateX(2px) rotate(1deg);
	    transform: translateX(2px) rotate(1deg);
	  }
	  60% {
	    -webkit-transform: translateX(-2px) rotate(-1deg);
	    -ms-transform: translateX(-2px) rotate(-1deg);
	    transform: translateX(-2px) rotate(-1deg);
	  }
	  70% {
	    -webkit-transform: translateX(2px) rotate(1deg);
	    -ms-transform: translateX(2px) rotate(1deg);
	    transform: translateX(2px) rotate(1deg);
	  }
	  80% {
	    -webkit-transform: translateX(-2px) rotate(-1deg);
	    -ms-transform: translateX(-2px) rotate(-1deg);
	    transform: translateX(-2px) rotate(-1deg);
	  }
	  90% {
	    -webkit-transform: translateX(1px) rotate(0);
	    -ms-transform: translateX(1px) rotate(0);
	    transform: translateX(1px) rotate(0);
	  }
	  100% {
	    -webkit-transform: translateX(-1px) rotate(0);
	    -ms-transform: translateX(-1px) rotate(0);
	    transform: translateX(-1px) rotate(0);
	  }
	}
/* Pulse */
	.info-circle-pulse {
		-webkit-animation-name: circle_pulse;
		animation-name: circle_pulse;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;	 
	}
	@-webkit-keyframes circle_pulse {
	  25% {
		    -webkit-transform: scale(1.1);
		    transform: scale(1.1);
	  }
	  75% {
		    -webkit-transform: scale(0.9);
		    transform: scale(0.9);
	  }
	}
	@keyframes circle_pulse {
	  25% {
		    -webkit-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		    transform: scale(1.1);
	  }
	  75% {
		    -webkit-transform: scale(0.9);
		    -ms-transform: scale(0.9);
		    transform: scale(0.9);
	  }
	}
/* Push */
	.info-circle-push {
		-webkit-animation-name: circle_push;
		animation-name: circle_push;
		-webkit-animation-duration:1.5s;
		animation-duration: 1.5s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	@-webkit-keyframes circle_push {
	  50% {
		    -webkit-transform: scale(0.8);
		    transform: scale(0.8);
	  }
	  100% {
		    -webkit-transform: scale(1);
		    transform: scale(1);
	  }
	}
	@keyframes circle_push {
	  50% {
		    -webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		    transform: scale(0.8);
	  }
	  100% {
		    -webkit-transform: scale(1);
		    -ms-transform: scale(1);
		    transform: scale(1);
	  }
	}
/* Pop */
	.info-circle-pop {	
		-webkit-animation-name: circle_pop;
		animation-name: circle_pop;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}
	@-webkit-keyframes circle_pop {
	  50% {
		    -webkit-transform: scale(1.2);
		    transform: scale(1.2);
	  }
	  100% {
		    -webkit-transform: scale(1);
		    transform: scale(1);
	  }
	}
	@keyframes circle_pop {
	  50% {
		    -webkit-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		    transform: scale(1.2);
	  }
	  100% {
		    -webkit-transform: scale(1);
		    -ms-transform: scale(1);
		    transform: scale(1);
	  }
	}


</style>

<script>
var resizedd = 0;
var time_f_arr = [];
jQuery(document).ready(function() {
    make_info_circle('.info-c-full-br', 0);
    responsive_check('.info-c-full-br');
    //make_info_circle('.info-c-semi-br',0);
    //responsive_check('.info-c-semi-br');
    //part_circle_icon('.info-c-full-br');
    //semi_circle_icon('.info-c-semi-br');			
    jQuery(window).resize(function() {
        resizedd++;
        make_info_circle('.info-c-full-br', resizedd);
        //make_info_circle('.info-c-semi-br',resizedd);
    }) 
    jQuery('.info-c-full-br').each(function() {
        if (jQuery(this).data('focus-on') == "click") {
            jQuery(this).find('.icon-circle-list .info-circle-icons').click(function() {
                var obj = jQuery(this);
                jQuery(this).parents('.info-c-full-br').attr('data-slide-true', 'false');
                show_next_info_circle(obj);
            })
        }
        if (jQuery(this).data('focus-on') == "hover") {
            jQuery(this).find('.icon-circle-list .info-circle-icons').hover(function() {
                var obj = jQuery(this);
                jQuery(this).parents('.info-c-full-br').attr('data-slide-true', 'false');
                show_next_info_circle(obj);
            }, function() {}) 
        }
    })
    /*jQuery('.info-c-semi-br .icon-circle-list .info-circle-icons').bind('click',function(){
    		var txt = jQuery(this).find('.text').html();
    		var highlight_style= jQuery(this).parents('.info-c-full-br').data('highlight-style');
    		if(highlight_style==''){
    			//console.warn("Info Circle Higlight style not defined")
    		}else{
    			jQuery('.'+highlight_style).removeClass(highlight_style).removeClass('info-cirlce-active');
    			jQuery(this).addClass(highlight_style).addClass('info-cirlce-active');
    		}
    		jQuery(this).parents('.info-c-semi-br').find('.info-c-semi').html(txt);
    	})
    	*/
    //jQuery('.info-c-full-br').attr('data-slide-true','true');	
    setTimeout(function() {
        jQuery('.info-c-full-br').each(function() {
            var slide_delay = jQuery(this).data('slide-duration');
            if (!slide_delay) {
                slide_delay = 0.2;
            }
            jQuery(this).attr('data-slide-number', '1');
            info_circle_slide((slide_delay * 1000), jQuery(this));
            //if(jQuery(this).attr('data-slide-true')=='off'){
            var obj = jQuery(this).find('.info-circle-icons').eq(0);
            show_next_info_circle(obj);
            //}
        });
    }, 1000);
})
function info_circle_slide (delay, identity) {
    identity.bsf_appear(function() {
        setInterval(function() {
            if (identity.attr('data-slide-true') == 'on') {
                var myindex = identity.attr('data-slide-number') * 1;
                //console.log('slideTo'+myindex);
                var len = identity.find('.info-circle-icons').length;
                if (identity.data('info-circle-angle') != 'full') {
                    if (len - 1 == myindex)
                        myindex = 0;
                } else {
                    if (len == myindex)
                        myindex = 0;
                }
                var obj = identity.find('.info-circle-icons').eq(myindex);
                identity.attr('data-slide-number', myindex + 1);
                show_next_info_circle(obj);
            }
        }, delay)
        /*
        		clearTimeout(time_f_arr[identity.data('timeout-fn')]);
        		var time_fn = 'tf'+(Math.random().toString(36).slice(2));
        		identity.data('timeout-fn',time_fn);
        		time_f_arr[time_fn] = setTimeout(function() {
        			if(identity.attr('data-slide-true')=='true'){		
        				info_circle_slide(++myindex,delay,identity);
        			}
        		}, delay);*/
    });
}
function show_next_info_circle(obj) {
    var highlight_style = obj.parents('.info-c-full-br').data('highlight-style');
    if (highlight_style == '') {
        //console.warn('Info Circle Higlight style not defined')
    } else {
        obj.parents('.info-c-full-br').find('.' + highlight_style).removeClass(highlight_style).removeClass('info-cirlce-active');
        obj.addClass(highlight_style).addClass('info-cirlce-active');
    }
    var txt = obj.next();
    var cont_f_size = obj.parents('.info-c-full-br').data('icon-show-size');
    if (obj.parents('.info-c-full-br').data('icon-show') == 'not-show') {
        txt.find('i').remove();
        txt.find('img').remove();
        obj.parents('.info-c-full-br').find('.info-c-full').addClass('cirlce-noicon');
    }
    txt = txt.html();
    //obj.parents('.icon-circle-list').find('.info-details').animate({opacity:0});
    //obj.next().animate({opacity:1});						
    //obj.parents('.info-c-full-br').find('.info-details').animate({opacity:0},'slow');
    var size = obj.css('font-size');
    var bg_col = obj.attr('style') 
    var p = bg_col.indexOf('background-color');
    bg_col = bg_col.substr(p);
    bg_col = bg_col.split(';');
    bg_col = bg_col[0];
    bg_col = bg_col.substr(17);
    var obj_par = obj.parents('.info-c-full-br');
    obj_par.find('.info-c-full-wrap').stop().animate({
        opacity: 0
    }, 'slow', function() {
        //obj.parents('.info-c-full-br').find('.info-c-full').animate({opacity:1},'fast',function(){
        //obj.parents('.info-c-full-br').find('.info-c-full').css('color',obj.css('color'));
        obj.parents('.info-c-full-br').find('.info-c-full .info-c-full-wrap').html(txt);
        //obj.parents('.info-c-full-br').find('.info-c-full i').css({'font-size':(parseInt(size)*2.5)+'px'});
        //obj.parents('.info-c-full-br').find('.info-c-full img').css({'width':(parseInt(size)*2.5)+'px','margin-top':'20px'});
        obj_par.find('.info-c-full i').css({
            'font-size': parseInt(cont_f_size) + 'px'
        });
        obj_par.find('.info-c-full img').css({
            'width': parseInt(cont_f_size) + 'px'
        });
        //obj.parents('.info-c-full-br').find('.info-c-full').css('background-color',bg_col);	
        obj.parents('.info-c-full-br').find('.info-c-full-wrap').animate({
            opacity: 1
        }, 'slow');
    });
}
function responsive_check(obj) {
    jQuery(obj).each(function() {
        if (jQuery(this).data('responsive-circle') == 'on') {
            var circle_list = jQuery(this).parent().find('.smile_icon_list_wrap .smile_icon_list');
            var circle_list_item = circle_list.find('.icon_list_item').clone();
            circle_list.find('.icon_list_item').remove();
            var list_bg_col = jQuery(this).next().data('content_bg')
            var list_col = jQuery(this).next().data('content_color') 
            jQuery(this).find('.icon-circle-list .info-details').each(function() {
                var heading = jQuery(this).find('.info-circle-heading').html();
                var text = jQuery(this).find('.info-circle-text').html();
                var bg = jQuery(this).prev().css('background-color');
                var color = jQuery(this).prev().css('color');
                var border_style = jQuery(this).prev().css('border');
                var icon = jQuery(this).find('.info-circle-sub-def').children().eq(0).clone();
                circle_list_item.find('.icon_list_icon').html(icon.wrap("<div />").parent().html());
                circle_list_item.find('.icon_description').css('color', list_col);
                circle_list_item.find('.icon_description').css('background-color', list_bg_col);
                circle_list_item.find('.icon_description h3').html(heading);
                circle_list_item.find('.icon_description p').html(text);
                circle_list_item.find('.icon_list_icon').css({
                    'background-color': bg,
                    'color': color,
                    'border': border_style
                });
                circle_list.append(circle_list_item.wrap("<div />").parent().html());
            });
        }
    })
}
function make_info_circle(selector, resized) {
    jQuery(selector).each(function() {
        var f_size = jQuery(this).data('icon-size');
        jQuery(this).parent().css({
            'margin-top': (f_size) + 'px',
            'margin-bottom': (f_size) + 'px'
        })
        jQuery(this).find(".icon-circle-list .info-circle-icons").css({
            "font-size": f_size + 'px',
            'height': (f_size * 2) + 'px',
            'width': (f_size * 2) + 'px',
            'margin': '-' + (f_size + 'px'),
            'line-height': (f_size * 2) + 'px'
        })
    })
    if (selector == '.info-c-full-br') {
        jQuery(selector).each(function() {
            jQuery(this).css('height', jQuery(this).width());
            jQuery(this).css('opacity', '1');
        })
    }
    if (selector == '.info-c-semi-br') {
        jQuery(selector).each(function() {
            var widd = jQuery(this).width();
            jQuery(this).css('height', ((parseInt(widd)) / 2) + 'px');
            var widd = widd + 'px ' + widd + 'px ' + ' 0 0';
            jQuery(this).css('border-radius', widd);
            var i_widd = jQuery(this).find('.info-c-full').width();
            i_widd = i_widd + 'px ' + i_widd + 'px ' + '0 0';
            jQuery(this).find('.info-c-full').css('border-radius', i_widd);
        })
    }
    setTimeout(function() {
        if (resized == resizedd) {
            if (selector == '.info-c-full-br') {
                part_circle_icon(selector);
            }
            if (selector == '.info-c-semi-br') {
                semi_circle_icon(selector);
            }
        }
    }, 1000);
}
function part_circle_icon(selector) {
    jQuery(selector).each(function() {
        jQuery(this).bsf_appear(function() {
            if (jQuery(this).css('display') != 'none') {
                var count = jQuery(this).find('.icon-circle-list .info-circle-icons').length;
                var p_arr = new Array();
                var r = (jQuery(this).width()) / 2;
                var alt = 180 / count;
                var pos = jQuery(this).data('info-circle-angle');
                var dev = jQuery(this).data('divert');
                if (pos == 'full') {
                    pos = 180;
                    alt = 90;
                }
                //pos = 180; // del on all option
                for (i = 1; i <= count; i++)
                {
                    var angle = i * ((180 + (2 * alt)) / count);
                    angle = angle + pos - alt + dev;
                    //Do not delete these Comments
                    //var angle = i * (90)/count;
                    //angle = angle+270;
                    //var  angle = i* 360/count;
                    //angle = angle+90;
                    angle = (angle * 0.0174532925);
                    p_arr.push( r * Math.cos(angle));
                    p_arr.push( r * Math.sin(angle));
                }
                var i = 0, delay = 0;
                var launch = jQuery(this).data('launch');
                var launch_duration = jQuery(this).data('launch-duration');
                var launch_delay = jQuery(this).data('launch-delay');
                /*if(!launch){
                						launch='easeOutExpo';
                					}*/
                if (!launch_duration) {
                    launch_duration = 1;
                }
                if (!launch_delay) {
                    launch_delay = .15;
                }
                if (launch != '') {
                    delay = - (launch_delay * 1000);
                    jQuery(this).find('.icon-circle-list .info-circle-icons').each(function() {
                        var el = jQuery(this);
                        delay += (launch_delay * 1000);
                        setTimeout(function() {
                            el.animate({
                                opacity: 1,
                                left: p_arr[i++],
                                top: p_arr[i++]
                            }, (launch_duration) * 1000, launch);
                        }, delay);
                    })
                } else {
                    jQuery(this).find('.icon-circle-list .info-circle-icons').each(function() {
                        var el = jQuery(this);
                        //el.animate({opacity:1,left:p_arr[i++],top:p_arr[i++]},(launch_duration)*1000,launch);
                        el.css({
                            'opacity': '1',
                            'left': p_arr[i++],
                            "top": p_arr[i++]
                        });
                    }) 
                }
            }
        });
    });
}
/*function semi_circle_icon(selector) {
	jQuery(selector).each(function(){
		if(jQuery(this).css('display')!='none'){
		var count = jQuery(this).find('.icon-circle-list .info-circle-icons').length;		
		var p_arr=new Array();
		var r=(jQuery(this).width())/2;		
		var alt= 180/count;
		var pos = 180;
		var dev = 	jQuery(this).data('divert');
		for(i=1;i<=count;i++)
		{
			var angle = i * ((180+(2*alt))/count);
		    angle = angle+pos-alt+dev;
		  	//Do not delete these Comments
		  	//var angle = i * (90)/count;
		    //angle = angle+270;
		    //var  angle = i* 360/count;
		    //angle = angle+90;
		    angle = (angle*0.0174532925);
		    p_arr.push( r * Math.cos(angle));
		    p_arr.push( r * Math.sin(angle));
		}
		var i=0, delay=0;
		var launch = jQuery(this).data('launch');
		var launch_duration = jQuery(this).data('launch-duration');
		var launch_delay = jQuery(this).data('launch-delay');
		if(!launch){
			launch='easeOutExpo';
		}
		if(!launch_duration){
			launch_duration = 1;
		}
		if(!launch_delay){
			launch_delay= .15;
		}
		delay = -(launch_delay*1000);
		jQuery(this).find('.icon-circle-list .info-circle-icons').each(function(){
			var el = jQuery(this);
			delay+=(launch_delay*1000);
			setTimeout(function() {
				el.animate({opacity:1,left:p_arr[i++],top:p_arr[i++]},(launch_duration)*1000,launch);
			}, delay);
		})
	}		
	})	
}*/
jQuery(window).load(function() {
    jQuery('.info-c-full-br').each(function() {
        if (jQuery(this).attr('data-slide-true') == 'on') {
            jQuery(this).hover(function() {
                jQuery(this).attr('data-slide-true', 'off');
            }, function() {
                jQuery(this).attr('data-slide-true', 'on');
                //info_circle_slide((jQuery(this).data('slide-duration'))*(1000),jQuery(this));
            })
        }
    })
})


</script>