<header class="header bg-primary full-screen">
  <div class="container text-center clearfix">
    <%= image_tag "logo-free_seo_report.png", alt: "logo Free SEO Report", class: "margin_double" %>
    <h1 class="text-white text-black text-upper text-biggest margin-top margin-bottom_double">Style Guide</h1>
    <!-- <span class="pull-right"><%= link_to "Login", new_session_path %></span> -->
    <a href="#style" class="btn btn-lg btn-default white margin_double">Get Started</a>
  </div>
</header>

<section id="style" class="container clearfix">
  <!-- 1st COLUMN -->
  <div class="col-md-6 margin-top_double margin-bottom padding-top padding-bottom padding-right border-right">
    <!-- Typography -->
    <h2 class="text-normal text-big box-table_cell padding-bottom_half border-strong border-darkbg border-bottom">Typography</h2>
    <p class="lead padding-top">
      This is a subltitle, use class: lead
    </p>
    <p>
      <strong>Paragraph:</strong> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a <a href="#">Lorem Ipsum</a> passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </p>
    <p>
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
    <h3 class="text-upper text-default text-bold text-black">Heading Example</h3>
    <p>
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
        
    <!-- Forms -->
    <div class="margin-top_double">
      <h2 class="text-normal text-big box-table_cell padding-bottom_half border-strong border-darkbg border-bottom">Forms</h2>
      <form role="form" class="margin-top">
        <div class="form-group">
          <label for="exampleInputEmail1">Your name:</label>
          <input type="text" class="form-control" id="exampleInput1" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Message:</label>
          <textarea></textarea>
        </div>
      </form>
    </div>
  </div>
  <!-- End 1st COLUMN -->
  <!-- 2nd COLUMN -->
  <div class="col-md-6 margin-top_double margin-bottom padding-top padding-bottom padding-left">
    <!-- Colors -->
    <h2 class="text-normal text-big box-table_cell padding-bottom_half border-strong border-darkbg border-bottom">Colors</h2>
    <div class="clearfix">
      <div class="col-md-4 margin-top text-center padding_none">
        <p class="padding bg-black">
          <span class="text-white text-family-2">Black</span>
        </p>
      </div>
      <div class="col-md-4 margin-top text-center padding_none">
        <p class="padding bg-black_lighter">
          <span class="text-white text-family-2">Black</span>
        </p>
      </div>
      <div class="col-md-4 margin-top text-center padding_none">
        <p class="padding bg-black_lightest">
          <span class="text-white text-family-2">Black</span>
        </p>
      </div>
    
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-primary_darker">
          <span class="text-white text-family-2">Primary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-primary">
          <span class="text-white text-family-2">Primary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-primary_lighter">
          <span class="text-white text-family-2">Primary</span>
        </p>
      </div>
      
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-secondary_darker">
          <span class="text-white text-family-2">Secondary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-secondary">
          <span class="text-white text-family-2">Secondary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-secondary_lighter">
          <span class="text-white text-family-2">Secondary</span>
        </p>
      </div>
      
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-tertiary_darker">
          <span class="text-white text-family-2">Tertiary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-tertiary">
          <span class="text-white text-family-2">Tertiary</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-tertiary_lighter">
          <span class="text-white text-family-2">Tertiary</span>
        </p>
      </div>
            
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-green_darker">
          <span class="text-white text-family-2">OK</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-green">
          <span class="text-white text-family-2">OK</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-green_lighter">
          <span class="text-white text-family-2">OK</span>
        </p>
      </div>
      
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-error_darker">
          <span class="text-white text-family-2">Error</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-error">
          <span class="text-white text-family-2">Error</span>
        </p>
      </div>
      <div class="col-md-4 text-center padding_none">
        <p class="padding bg-error_lighter">
          <span class="text-white text-family-2">Error</span>
        </p>
      </div>
    </div>
    <!-- Buttons -->
    <div class="margin-top_double">
      <h2 class="text-normal text-big box-table_cell padding-bottom_half border-strong border-darkbg border-bottom">Buttons</h2>
      
      <h3 class="padding-top padding-bottom_half text-upper text-default">Colors:</h3>
      <button type="button" class="btn btn-default ok">Default</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-danger">Alert</button>
      <button type="button" class="btn btn-link">Link</button>
      
      <h3 class="padding-top padding-bottom_half text-upper text-default">Sizes:</h3>
      <p>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-default btn-lg ok">Large button</button>
      </p>
      <p>
        <button type="button" class="btn btn-primary">Default button</button>
        <button type="button" class="btn btn-default ok">Default button</button>
      </p>
      <p>
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
        <button type="button" class="btn btn-default btn-sm ok">Small button</button>
      </p>
      <p>
        <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
        <button type="button" class="btn btn-default btn-xs ok">Extra small button</button>
      </p>
    </div>
    
    <!-- End 2nd COLUMN -->
  </div>
</section>